
# To support Single Page Applications map all requests to index.html
# ... unless it is a servlet or api or file request
RewriteCond     %{REQUEST_PATH}         !^/api/.*
RewriteCond     %{REQUEST_PATH}         !^/servlet/.*
RewriteCond     %{REQUEST_PATH}         !^/~/.*
RewriteRule     ^/search/.*             /search/index.html

# ~/foo/bar is a request for file
RewriteRule     ^/search/~/(.*)       /search/$1
